*,
*::before,
*::after{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.pageHeader{
    background-color:pink;
}

.NavBar{
    background-color:rgb(214, 214, 106);
}

.ArticleList{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap:1rem;
    width:100%;
    border:2px solid black;
}

.ArticleCard{
    box-shadow: 0 0 10px 5px var(grey);
    border-radius:0.5rem;
    border:2px solid black;

}

.card_votes:before{
    content:"Votes: "
}

.article_img{
    width:100%;
    height: 50px;
    object-fit: cover;
}

.ArticleInterface{
border:3px solid blue;
margin-bottom:2rem;

}

.CommentCard{
    margin:1rem;
    border:2px solid red;

}