:root{

    --clr-primary:#7806b1;
    --clr-white: #ffffff;
    --clr-background:#eceff1;
    --clr-gray:#263238;
}

#root{

    font-family: "Open Sans", sans-serif;
}


*,
*::before,
*::after{
  box-sizing: border-box;
  margin:0;
  padding:0;
}



.pageWrapper{
    height:100vh;
    display:flex;
    flex-direction: column;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size:3rem;
  padding-top:0.4rem
}

.pageHeader{
    display:flex;
    background-color:var(--clr-background);
    padding-left:2rem;
    font-size: 3rem;
    font-weight: bold;
    color:var(--clr-gray);
    padding:1rem;
    align-items: center;
}

.NavBar{
    background-color:var(--clr-primary);
    color:var(--clr-white);
    display:flex;
    justify-content: flex-end;
    align-items: center;
    height:3em;
    list-style: none;
}

.NavBar li{
    font-size:1.5rem;
    font-weight: bold;
    padding-right:2em;

}


.Link{
    color:var(--clr-white);
    text-decoration: none;

}

.NavBar .Link:first-child{
    margin-right: auto;
    padding-left: 2rem;
}

/* Landing Page */
.LandingWrapper{
    display: flex;
    grid-template-columns: 1fr;
    /* grid-template-rows: 100%; */
    height:100%;
    justify-content: space-between;

}

.LandingRight img{
    max-width:100%;
    height:auto;
    object-fit:fill;
    flex-grow:4;
   
}

.LandingWords{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    flex-grow:3;
}

.LandingText1{
    font-size: 5rem;
}

.LandingText2{
    font-size: 5rem;
    background-color: red;
    color:white;
    font-weight: bold;
}
.LandingText3{
    font-size: 1.5rem;

    font-style: italic;
}


.ArticleList{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap:1rem;
    background-color: var(--clr-background);
    list-style: none;
    padding:1em;
}

.TopicList{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap:1rem;
    background-color: var(--clr-background);
    list-style: none;
    padding:1em;
    border:1px solid black;


}

.ArticleCard{
    background-color: var(--clr-white);
    box-shadow: 0 0 10px 5px var(grey);
    border-radius:0.5rem;
    padding:1em;
    border-top: 4px solid var(--clr-primary);

}

.TopicCard{
    background-color: var(--clr-white);
    box-shadow: 0 0 10px 5px var(grey);
    border-radius:0.5rem;
    padding:1em;
    border-top: 4px solid var(--clr-primary);

}

.card_date{
    
}

.card_comments:before{
    content:"Comments: "
}


.card_votes:before{
    content:"Votes: "
}

.card_topic{
    text-transform: uppercase;
    grid-area: topic;
}


.article_img_card{
width:100%;
height:60px;
object-fit:cover;

}
.article_img{
    width:60px;
    height:60px;
    object-fit:cover;
    border-radius: 50%;

}
.articleTitle{
    grid-area:title;
}

.articleAuthor{
    grid-area: username-date;
}

.articleTimeDate{
    grid-area: username-date;
    padding-left: 10rem;
}

.articleBody{
    padding-top:1rem;
    grid-area: textbody;
}
.card_title{
    font-size:1rem;
    margin-bottom:1.5rem;
}

.ArticleInterface{
    display:flex;
    margin:1rem 1rem 2rem 1rem;
    padding:1rem;

}

.articleWrapper{
    display:grid;
    grid-template-columns: 2fr;
    margin-left:0.5rem;
    grid-template-areas: "title topic"
                        "username-date username-date"
                        "textbody textbody"
                        "voting voting"
                        "delete delete";
}

.CommentCard{
    margin:1rem;
    border:2px solid red;

}

#newComment{
    width:400px;
    height:50px;
}

@media screen and (max-width:850px){

    .NavBar li{
        font-size:0.75rem;

    
    }
}



@media screen and (max-width:550px){

    .ArticleList{
        grid-template-columns: 1fr;
    }

    .NavBar li{
        font-size:0.5rem;

    
    }
}
